body {
    font-size: 18px;
    color: #333; 
    line-height: 1.5;
   }
   
   h1 {
       margin-top: 50px;
       margin-bottom: 10px;
       font-size: 60px;
       text-align: center;
   }
   
   h2 {
       margin-top: 0px;
       padding-bottom: 30px;
       font-size: 25px;
       text-align: center;
   }
   
   section {
       
       margin-top: 50px;
       margin-right: 0px;
       margin-bottom: 50px;
       margin-left: 0px;
       padding-top: 0px;
       padding-right: 50px;
       padding-bottom: 0px;
       padding-left: 50px;
       
   }
   
   section > h2 {
       padding: 0px;
       text-align: left;
   }
   
   li {
     margin-bottom: 10px;
   }